@import 'theme';

.card-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
}

.card-grid-column {
  background-clip: padding-box;
}

%blurb-base {
  position: relative;
  left: 5%;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
  width: 90%;
  pointer-events: none;
  color: black;
  font-size: 13px;
}

%icon-base {
  position: relative;
  color: white;
  font-size: 26px;
  float: right;
  right: 10px;
}

.card {
  position: relative;
  overflow: hidden;
  display: inline-block;
  vertical-align: top;
  margin: #{$card-spacing/2}px;
  transition: all 0.25s ease;

  > * {
    transition: all 0.25s ease;
  }
}

.title-card {
  width: #{$card-width * 2 + $card-spacing}px;
  height: #{$card-height}px;
}

.card-title {
  position: relative;
  left: 10px;
  font-family: 'LemonMilk', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: white;
  font-size: 30px;
}

.full-card {
  width: #{$card-width}px;
  height: #{$card-height}px;
  
  .thumb-img {
    width: #{$card-width}px;
    height: #{$card-height}px;
    position: absolute;
    mask-image: url("../static/images/full_card.png");
    -webkit-mask-image: url("../static/images/full_card.png");
    
    &:hover {
      -webkit-clip-path: polygon(0% 100%, 0% 0%, 100% 0%, 100% 100%);
      clip-path: polygon(0% 100%, 0% 0%, 100% 0%, 100% 100%);
      
      ~ .desc-img {
        -webkit-clip-path: polygon(0% 100%, 0% 100%, 100% 100%, 100% 100%);
        clip-path: polygon(0% 100%, 0% 100%, 100% 100%, 100% 100%);
      }

      ~ .sash-img {
        -webkit-clip-path: polygon(0% 100%, 0% 90%, 100% 90%, 100% 100%);
        clip-path: polygon(0% 100%, 0% 90%, 100% 90%, 100% 100%);
      }

      ~ .card-title {
        top: #{$card-height * 0.895}px;
        transform: rotate(0deg) scale(0.6, 1) translate(-35%, 0);
      }
    
      ~ .card-icon {
        top: 78%;
        transform: rotate(0deg);
      }
    
      ~ .blurb {
        top: 100%;
      }
    }
  }

  .desc-img {
    -webkit-clip-path: polygon(0% 100%, 0% 60%, 100% 50%, 100% 100%);
    clip-path: polygon(0% 100%, 0% 60%, 100% 50%, 100% 100%);
    position: absolute;

    &:hover {
      -webkit-clip-path: polygon(0% 100%, 0% 0%, 100% 0%, 100% 100%);
      clip-path: polygon(0% 100%, 0% 0%, 100% 0%, 100% 100%);
  
      ~ .sash-img {
        -webkit-clip-path: polygon(0% 100%, 0% 0%, 100% 0%, 100% 100%);
        clip-path: polygon(0% 10%, 0% 0%, 100% 0%, 100% 10%);
      }
      
      ~ .card-title {
        top: 0px;
        transform: rotate(0deg) scale(0.6, 1) translate(-35%, 0);
      }
    
      ~ .card-icon {
        top: -12%;
        transform: rotate(0deg);
      }
    
      ~ .blurb {
        top: 0%;
      }
    }
  }

  .sash-img {
    -webkit-clip-path: polygon(0% 60%, 0% 50%, 100% 40%, 100% 50%);
    clip-path: polygon(0% 60%, 0% 50%, 100% 40%, 100% 50%);
    position: absolute;
  }

  .card-title {
    top: #{$card-height * 0.445}px;
    transform: rotate(-7deg) scale(0.6, 1) translate(-35%, 0);
  }

  .card-icon {
    @extend %icon-base;
    top: 29%;
    transform: rotate(-7deg);
  }

  .blurb {
    @extend %blurb-base;
    top: 47%;
  }
}

.half-card {
  width: #{$card-width}px;
  height: #{($card-height - $card-spacing) / 2}px;
  background-image: url("../static/images/half_card.png");

  .card-title {
    top: #{$card-height * 0.027}px;
    transform: rotate(-4deg) scale(0.6, 1) translate(-35%, 0);
  }
  
  .card-icon {
    @extend %icon-base;
    top: -25%;
    transform: rotate(-4deg);
  }

  .blurb {
    @extend %blurb-base;
    top: 5%;
  }
}

.card-placeholder {
  width: #{$card-width}px;
  height: #{$card-height}px;
  margin: #{$card-spacing/2}px;
}